.card {
  font-family: "Montserrat", sans-serif;
  width: 31.5%;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  text-decoration: none;
}

.info {
  padding: 12px;
}

.price {
  padding-top: 8px;
}

.locality {
  padding-top: 8px;
  color: #8f8f8f;
}

.date {
  padding-top: 8px;
  color: #8f8f8f;
}

.photo {
  height: 332 px;
}
