* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  font-family: "Montserrat", sans-serif;
  width: 31.5%;
  height: 460px;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  text-decoration: none;
}
